Repository langchain4j/langchain4j-community, pull requests merged in 2024-11, with the labels that each got.

#10 [Feature] Integration with Searxng
  langchain4j-community-bom/pom.xml
  pom.xml
  web-search-engines/langchain4j-community-web-search-engine-searxng/pom.xml
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGApi.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGClient.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGRequestLoggingInterceptor.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGResponse.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGResponseLoggingInterceptor.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGResult.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGWebSearchEngine.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/test/java/dev/langchain4j/community/web/search/searxng/SearXNGWebSearchEngineIT.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/test/resources/settings.yml
Labels: P2, P3, theme: web search engine

#11 Release 0.36.0
  .github/workflows/release.yaml
  langchain4j-community-bom/pom.xml
  langchain4j-community-clickhouse/pom.xml
  pom.xml
  web-search-engines/langchain4j-community-web-search-engine-searxng/pom.xml
Labels: enhancement, P1

#17 Migrating langchain4j-vearch
  embedding-stores/langchain4j-community-vearch/pom.xml
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/CreateDatabaseResponse.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/CreateSpaceRequest.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/CreateSpaceResponse.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/ListDatabaseResponse.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/ListSpaceResponse.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/MetricType.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/ResponseWrapper.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/SearchRequest.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/SearchResponse.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/StoreParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/StoreType.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/UpsertRequest.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/UpsertResponse.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/VearchApi.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/VearchClient.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/VearchConfig.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/VearchEmbeddingStore.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/VearchRequestLoggingInterceptor.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/VearchResponseLoggingInterceptor.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/field/Field.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/field/FieldType.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/field/NumericField.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/field/StringField.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/field/VectorField.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/BINARYIVFParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/FLATParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/GPUParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/HNSWParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/IVFFLATParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/IVFPQParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/Index.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/IndexParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/IndexType.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/search/BINARYIVFSearchParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/search/FLATSearchParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/search/GPUSearchParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/search/HNSWSearchParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/search/IVFFLATSearchParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/search/IVFPQSearchParam.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/index/search/SearchIndexParam.java
  embedding-stores/langchain4j-community-vearch/src/test/java/dev/langchain4j/community/store/embedding/vearch/TestUtils.java
  embedding-stores/langchain4j-community-vearch/src/test/java/dev/langchain4j/community/store/embedding/vearch/VearchContainer.java
  embedding-stores/langchain4j-community-vearch/src/test/java/dev/langchain4j/community/store/embedding/vearch/VearchEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-vearch/src/test/resources/config.toml
  langchain4j-community-bom/pom.xml
  pom.xml
Labels: enhancement, P2, P3, theme: embedding store

#19 Migrating langchain4j-zhipu-ai
  langchain4j-community-bom/pom.xml
  models/langchain4j-community-zhipu-ai/pom.xml
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/AuthorizationInterceptor.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/DefaultZhipuAiHelper.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/Json.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/RequestLoggingInterceptor.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ResponseLoggingInterceptor.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiApi.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiChatModel.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiClient.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiEmbeddingModel.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiException.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiImageModel.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiStreamingChatModel.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/AssistantMessage.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ChatCompletionChoice.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ChatCompletionModel.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ChatCompletionRequest.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ChatCompletionResponse.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/Content.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/Delta.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/Function.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/FunctionCall.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/Image.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ImageContent.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/Message.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/Parameters.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/Retrieval.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/Role.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/SystemMessage.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/TextContent.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/Tool.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ToolCall.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ToolChoice.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ToolChoiceMode.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ToolMessage.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/ToolType.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/UserMessage.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/chat/WebSearch.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/embedding/Embedding.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/embedding/EmbeddingModel.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/embedding/EmbeddingRequest.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/embedding/EmbeddingResponse.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/image/Data.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/image/ImageModelName.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/image/ImageRequest.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/image/ImageResponse.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/shared/ErrorResponse.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/shared/Usage.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/spi/ZhipuAiChatModelBuilderFactory.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/spi/ZhipuAiEmbeddingModelBuilderFactory.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/spi/ZhipuAiStreamingChatModelBuilderFactory.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/ZhipuAiAiServicesWithToolsIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/ZhipuAiChatModelIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/ZhipuAiEmbeddingModelIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/ZhipuAiImageModelIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/ZhipuAiStreamingChatModelIT.java
  models/langchain4j-community-zhipu-ai/src/test/resources/parrot.jpg
  pom.xml
Labels: enhancement, P2, P3, theme: model

#20 build with latest jdk version
  .github/workflows/main.yaml
Labels: enhancement, P3

#21 Migrating langchain4j-qianfan
  langchain4j-community-bom/pom.xml
  models/langchain4j-community-qianfan/pom.xml
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/InternalQianfanHelper.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanChatModel.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanChatModelNameEnum.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanEmbeddingModel.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanEmbeddingModelNameEnum.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanLanguageModel.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanLanguageModelNameEnum.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanStreamingChatModel.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanStreamingLanguageModel.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/AsyncRequestExecutor.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/AsyncResponseHandling.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/AuthorizationHeaderInjector.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/ErrorHandling.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/Json.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/QianfanApi.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/QianfanApiException.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/QianfanClient.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/QianfanHttpException.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/QianfanStreamingResponseBuilder.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/RequestExecutor.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/RequestLoggingInterceptor.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/ResponseLoggingInterceptor.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/StreamingCompletionHandling.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/StreamingRequestExecutor.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/StreamingResponseHandling.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/SyncOrAsync.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/SyncOrAsyncOrStreaming.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/SyncRequestExecutor.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/Usage.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/Utils.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/ChatCompletionRequest.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/ChatCompletionResponse.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/ChatTokenResponse.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/Examples.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/Function.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/FunctionCall.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/Message.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/Parameters.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/Responses.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/chat/Role.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/completion/CompletionRequest.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/completion/CompletionResponse.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/embedding/EmbeddingData.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/embedding/EmbeddingRequest.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/client/embedding/EmbeddingResponse.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/spi/QianfanChatModelBuilderFactory.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/spi/QianfanEmbeddingModelBuilderFactory.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/spi/QianfanLanguageModelBuilderFactory.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/spi/QianfanStreamingChatModelBuilderFactory.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/spi/QianfanStreamingLanguageModelBuilderFactory.java
  models/langchain4j-community-qianfan/src/test/java/dev/langchain4j/community/model/qianfan/QianfanAiServicesWithToolsIT.java
  models/langchain4j-community-qianfan/src/test/java/dev/langchain4j/community/model/qianfan/QianfanChatModelIT.java
  models/langchain4j-community-qianfan/src/test/java/dev/langchain4j/community/model/qianfan/QianfanEmbeddingModelIT.java
  models/langchain4j-community-qianfan/src/test/java/dev/langchain4j/community/model/qianfan/QianfanLanguageModelIT.java
  models/langchain4j-community-qianfan/src/test/java/dev/langchain4j/community/model/qianfan/QianfanStreamingChatModelIT.java
  models/langchain4j-community-qianfan/src/test/java/dev/langchain4j/community/model/qianfan/QianfanStreamingLanguageModelIT.java
  pom.xml
Labels: enhancement, P2, P3, theme: model

#24 [FEATURE] Add DuckDB EmbeddingStore implementation (#2183)
  embedding-stores/langchain4j-community-duckdb/pom.xml
  embedding-stores/langchain4j-community-duckdb/src/main/java/dev/langchain4j/community/store/embedding/duckdb/DuckDBEmbeddingStore.java
  embedding-stores/langchain4j-community-duckdb/src/main/java/dev/langchain4j/community/store/embedding/duckdb/DuckDBMetadataFilterMapper.java
  embedding-stores/langchain4j-community-duckdb/src/main/java/dev/langchain4j/community/store/embedding/duckdb/DuckDBSQLException.java
  embedding-stores/langchain4j-community-duckdb/src/test/java/dev/langchain4j/community/store/embedding/duckdb/DuckDBEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-duckdb/src/test/java/dev/langchain4j/community/store/embedding/duckdb/DuckDBEmbeddingStoreRemovalIT.java
  langchain4j-community-bom/pom.xml
  pom.xml
Labels: P2, P3, theme: embedding store
