Repository langchain4j/langchain4j-community, pull requests merged in 2024-12, with the labels that each got.

#26 DashScope: more clearly and strictly constrain messages ordering to fit the model requirements
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenHelper.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenChatModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenTestHelper.java
Labels: enhancement, P3, theme: model

#34 Migrate Spring Boot starters of Qianfan and Dashscope
  langchain4j-community-bom/pom.xml
  models/langchain4j-community-qianfan/pom.xml
  pom.xml
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/AutoConfig.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/ChatModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/EmbeddingModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/LanguageModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/Properties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/TokenizerProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/test/java/dev/langchain4j/community/dashscope/spring/AutoConfigIT.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/AutoConfig.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/ChatModelProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/EmbeddingModelProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/LanguageModelProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/Properties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/test/java/dev/langchain4j/community/qianfan/spring/AutoConfigIT.java
  spring-boot-starters/pom.xml
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGWebSearchEngine.java
Labels: enhancement, theme: spring boot starter

#42 SearXNG: Fixed issue with illegal URLs containing spaces
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGWebSearchEngine.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/test/java/dev/langchain4j/community/web/search/searxng/SearXNGWebSearchEngineTest.java
Labels: bug, P2, theme: web search engine
