Repository langchain4j/langchain4j-community, pull requests merged in 2025-05, with the labels that each got.

#188 DashScope: Introduce Qwen3 and the thinking mode parameter
  models/langchain4j-community-dashscope/pom.xml
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatRequestParameters.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatResponseMetadata.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenHelper.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenModelName.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenStreamingChatModel.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenChatModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenStreamingChatModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenTestHelper.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/AutoConfig.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/ChatModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/test/java/dev/langchain4j/community/dashscope/spring/AutoConfigIT.java
Labels: enhancement, P2, P3, theme: model

#149 Issue 111: conversation memory
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStore.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jUtils.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/memory/chat/neo4j/Neo4jChatMemoryStore.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/memory/chat/neo4j/Neo4jUtils.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/memory/chat/neo4j/Neo4jChatMemoryStoreIT.java
Labels: enhancement, P3, theme: memory store

#210 Support Neo4j parent-child and entity-retrievers
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jEmbeddingRetrieverTest.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jEmbeddingStoreIngestorBaseTest.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jEmbeddingStoreIngestorIT.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jEmbeddingStoreIngestorTest.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/HypotheticalQuestionGraphIngestor.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreIngestor.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/ParentChildGraphIngestor.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/SummaryGraphIngestor.java
  langchain4j-community-core/src/main/java/dev/langchain4j/community/store/embedding/ParentChildEmbeddingStoreIngestor.java
Labels: enhancement, P3, theme: content retriever
