Repository langchain4j/langchain4j-community, pull requests merged in 2025-03, with the labels that each got.

#97 Fix Searxng response data structure
  web-search-engines/langchain4j-community-web-search-engine-searxng/pom.xml
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGResponse.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/test/java/dev/langchain4j/community/web/search/searxng/SearXNGWebSearchEngineIT.java
Labels: bug, theme: web search engine

#100 DashScope: Support data-url
  models/langchain4j-community-dashscope/pom.xml
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenHelper.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenModelName.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenTestHelper.java
Labels: enhancement, P3, theme: model

#103 Migrating neo4j-embedding-store
  embedding-stores/langchain4j-community-neo4j/pom.xml
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Builder.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStore.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingUtils.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreRemovalIT.java
  langchain4j-community-bom/pom.xml
  pom.xml
Labels: enhancement, P3, theme: embedding store

#106 Spring Boot: handle `spring-boot-configuration-processor` properly
  spring-boot-starters/langchain4j-community-clickhouse-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/ChatModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/EmbeddingModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/LanguageModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/Properties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/ChatModelProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/EmbeddingModelProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/LanguageModelProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/Properties.java
  spring-boot-starters/langchain4j-community-redis-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-vearch-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/pom.xml
  spring-boot-starters/pom.xml
Labels: bug, P3, theme: spring boot starter

#102 feat(alloydb): Add EmbeddingStore and Loader for Google AlloyDB
  embedding-stores/langchain4j-community-alloydb-pg/README.md
  embedding-stores/langchain4j-community-alloydb-pg/pom.xml
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/data/document/loader/alloydb/AlloyDBLoader.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/engine/AlloyDBEngine.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/engine/EmbeddingStoreConfig.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/engine/MetadataColumn.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/alloydb/AlloyDBEmbeddingStore.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/filter/AlloyDBFilterMapper.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/BaseIndex.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/DistanceStrategy.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/HNSWIndex.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/IVFFlatIndex.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/IVFIndex.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/ScaNNIndex.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/query/HNSWQueryOptions.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/query/IVFFlatQueryOptions.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/query/IVFQueryOptions.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/query/QueryOptions.java
  embedding-stores/langchain4j-community-alloydb-pg/src/main/java/dev/langchain4j/store/embedding/index/query/ScaNNIndexQueryOptions.java
  embedding-stores/langchain4j-community-alloydb-pg/src/test/java/dev/langchain4j/data/document/loader/alloydb/AlloyDBLoaderIT.java
  embedding-stores/langchain4j-community-alloydb-pg/src/test/java/dev/langchain4j/data/document/loader/alloydb/AlloyDBLoaderTest.java
  embedding-stores/langchain4j-community-alloydb-pg/src/test/java/dev/langchain4j/engine/AlloyDBEngineIT.java
  embedding-stores/langchain4j-community-alloydb-pg/src/test/java/dev/langchain4j/store/embedding/alloydb/AlloyDBEmbeddingStoreConfigIT.java
  embedding-stores/langchain4j-community-alloydb-pg/src/test/java/dev/langchain4j/store/embedding/alloydb/AlloyDBEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-alloydb-pg/src/test/java/dev/langchain4j/store/embedding/alloydb/AlloyDBEmbeddingStoreRemovalIT.java
  embedding-stores/langchain4j-community-alloydb-pg/src/test/java/dev/langchain4j/utils/AlloyDBTestUtils.java
  langchain4j-community-bom/pom.xml
  pom.xml
Labels: enhancement, P3, theme: embedding store

#112 Add Neo4j Spring Boot Starter
  langchain4j-community-bom/pom.xml
  spring-boot-starters/langchain4j-community-neo4j-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-neo4j-spring-boot-starter/src/main/java/dev/langchain4j/community/neo4j/spring/Neo4jEmbeddingStoreAutoConfiguration.java
  spring-boot-starters/langchain4j-community-neo4j-spring-boot-starter/src/main/java/dev/langchain4j/community/neo4j/spring/Neo4jEmbeddingStoreProperties.java
  spring-boot-starters/langchain4j-community-neo4j-spring-boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring-boot-starters/langchain4j-community-neo4j-spring-boot-starter/src/test/java/dev/langchain4j/community/neo4j/spring/Neo4jEmbeddingStoreAutoConfigurationIT.java
  spring-boot-starters/pom.xml
Labels: enhancement, P3, theme: spring boot starter

#113 Neo4j Hybrid Search
  embedding-stores/langchain4j-community-neo4j/pom.xml
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Builder.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStore.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingUtils.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreBaseTest.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreRemovalIT.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreTest.java
  spring-boot-starters/langchain4j-community-neo4j-spring-boot-starter/src/main/java/dev/langchain4j/community/neo4j/spring/Neo4jEmbeddingStoreAutoConfiguration.java
Labels: enhancement, P3, theme: embedding store

#59 LlamaParse parser integration
  document-parsers/langchain4j-community-document-parser-llamaparse/pom.xml
  document-parsers/langchain4j-community-document-parser-llamaparse/src/main/java/dev/langchain4j/community/data/document/parser/llamaparse/ApiKeyInsertingInterceptor.java
  document-parsers/langchain4j-community-document-parser-llamaparse/src/main/java/dev/langchain4j/community/data/document/parser/llamaparse/LlamaParseApi.java
  document-parsers/langchain4j-community-document-parser-llamaparse/src/main/java/dev/langchain4j/community/data/document/parser/llamaparse/LlamaParseClient.java
  document-parsers/langchain4j-community-document-parser-llamaparse/src/main/java/dev/langchain4j/community/data/document/parser/llamaparse/LlamaParseMarkdownResponse.java
  document-parsers/langchain4j-community-document-parser-llamaparse/src/main/java/dev/langchain4j/community/data/document/parser/llamaparse/LlamaParseResponse.java
  document-parsers/langchain4j-community-document-parser-llamaparse/src/main/java/dev/langchain4j/community/data/document/parser/llamaparse/LlamaParseTextResponse.java
  document-parsers/langchain4j-community-document-parser-llamaparse/src/test/java/dev/langchain4j/community/data/document/parser/llamaparse/LlamaParseClientIT.java
  document-parsers/langchain4j-community-document-parser-llamaparse/src/test/resources/files/sample.pdf
  langchain4j-community-bom/pom.xml
  pom.xml
Labels: P3, theme: document parser
