Repository langchain4j/langchain4j-community, pull requests merged in 2025-06, with the labels that each got.

#217 Add the ability to store the KnowledgeGraphWriter results in vector indexes via Neo4jEmbeddingStore
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/KnowledgeGraphWriter.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jKnowledgeGraphWriterBaseTest.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jKnowledgeGraphWriterTest.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStore.java
Labels: enhancement, P3, theme: content retriever

#231 Qianfan: support `ChatRequestParameters` properly
  models/langchain4j-community-qianfan/pom.xml
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanChatModel.java
  models/langchain4j-community-qianfan/src/main/java/dev/langchain4j/community/model/qianfan/QianfanStreamingChatModel.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/AutoConfig.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/ChatModelProperties.java
Labels: enhancement, P3, theme: model, Breaking Change

#226 Oracle OCI GenAi Chat Models
  langchain4j-community-bom/pom.xml
  models/langchain4j-community-oci-genai/README.md
  models/langchain4j-community-oci-genai/pom.xml
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/BaseChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/BaseCohereChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/BaseGenericChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/GenericStreamingResponseBuilder.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiCohereChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiCohereStreamingChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiStreamingChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/package-info.java
  models/langchain4j-community-oci-genai/src/main/java/module-info.java.todo
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/ConfigurationTest.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiChatModelIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiChatModelListenerIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiCohereChatModelListenerIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiCohereStreamingChatModelListenerIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiStreamingChatModelListenerIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/TestEnvProps.java
  models/langchain4j-community-oci-genai/src/test/resources/tinylog.properties
  models/langchain4j-community-xinference/pom.xml
  pom.xml
Labels: enhancement, P2, P3, theme: model

#241 OCI GenAI - additional integration tests
  models/langchain4j-community-oci-genai/README.md
  models/langchain4j-community-oci-genai/pom.xml
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/BaseChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/BaseCohereChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/BaseGenericChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/GenericStreamingResponseBuilder.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiCohereChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiCohereStreamingChatModel.java
  models/langchain4j-community-oci-genai/src/main/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiStreamingChatModel.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/CohereAiServiceIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/CohereChatModelIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/CohereStreamingAiServiceIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/CohereStreamingChatModelIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/ConfigurationTest.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/GenericAiServiceIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/GenericChatModelIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/GenericStreamingChatModelIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiChatModelIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiChatModelListenerIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiCohereChatModelListenerIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiCohereStreamingChatModelListenerIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/OciGenAiStreamingChatModelListenerIT.java
  models/langchain4j-community-oci-genai/src/test/java/dev/langchain4j/community/model/oracle/oci/genai/TestEnvProps.java
Labels: enhancement, P3, theme: model

#243 DashScope: Introduce enableSanitizeMessages option
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatRequestParameters.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenHelper.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenStreamingChatModel.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/AutoConfig.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/ChatModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/test/java/dev/langchain4j/community/dashscope/spring/AutoConfigIT.java
Labels: P3, theme: model

#261 Redis: fix wrong authorization check
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/embedding/redis/RedisEmbeddingStore.java
  embedding-stores/langchain4j-community-redis/src/test/java/dev/langchain4j/community/store/embedding/redis/RedisEmbeddingStoreIT.java
  spring-boot-starters/langchain4j-community-redis-spring-boot-starter/src/main/java/dev/langchain4j/community/store/embedding/redis/spring/RedisEmbeddingStoreAutoConfiguration.java
  spring-boot-starters/langchain4j-community-redis-spring-boot-starter/src/test/java/dev/langchain4j/community/store/embedding/redis/spring/RedisEmbeddingStoreAutoConfigurationIT.java
Labels: bug, P2, P3, theme: embedding store

#271 fix ChatResponseMetadata type not inconsistent
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatResponseMetadata.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenStreamingAiServiceIT.java
Labels: enhancement, P2, P3, theme: model

#266 Xinference: fix duplicate listener callback
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/XinferenceChatModel.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/XinferenceEmbeddingModel.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/XinferenceImageModel.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/XinferenceLanguageModel.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/XinferenceScoringModel.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/XinferenceStreamingChatModel.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/XinferenceStreamingLanguageModel.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/XinferenceStreamingResponseBuilder.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/StreamingRequestExecutor.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/XinferenceClient.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/ChatCompletionChoice.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/ChatCompletionRequest.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/ChatCompletionResponse.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/Delta.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/Function.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/Parameters.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/Tool.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/message/AssistantMessage.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/message/Content.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/message/FunctionCall.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/message/ImageUrl.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/message/SystemMessage.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/message/ToolCall.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/message/ToolMessage.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/message/UserMessage.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/chat/message/VideoUrl.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/completion/CompletionChoice.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/completion/CompletionLogprobs.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/completion/CompletionRequest.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/completion/CompletionResponse.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/embedding/Embedding.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/embedding/EmbeddingRequest.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/embedding/EmbeddingResponse.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/image/ImageData.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/image/ImageRequest.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/image/ImageResponse.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/image/OcrRequest.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/rerank/RerankDocument.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/rerank/RerankMeta.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/rerank/RerankRequest.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/rerank/RerankResponse.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/rerank/RerankResult.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/rerank/RerankTokens.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/shared/CompletionUsage.java
  models/langchain4j-community-xinference/src/main/java/dev/langchain4j/community/model/xinference/client/shared/StreamOptions.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/AbstractInferenceChatModelInfrastructure.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/AbstractInferenceLanguageModelInfrastructure.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/AbstractXinferenceEmbeddingModelInfrastructure.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/AbstractXinferenceImageModelInfrastructure.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/AbstractXinferenceScoringModelInfrastructure.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/AbstractXinferenceToolsChatModelInfrastructure.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/XinferenceChatModelIT.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/XinferenceContainer.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/XinferenceToolChatModelIT.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/XinferenceUtils.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/common/XinferenceChatModelListenerIT.java
  models/langchain4j-community-xinference/src/test/java/dev/langchain4j/community/model/xinference/common/XinferenceStreamingChatModelListenerIT.java
Labels: bug, P3, theme: model, theme: spring boot starter

#274 Spring Boot starters: support `ObjectProvider` with `ChatModelListener`
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/DashScopeAutoConfiguration.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/DashScopeChatModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/DashScopeEmbeddingModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/DashScopeLanguageModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/DashScopeProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/DashScopeTokenizerProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/Properties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/test/java/dev/langchain4j/community/dashscope/spring/DashScopeAutoConfigurationIT.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/test/java/dev/langchain4j/community/dashscope/spring/TestChatModelListenerAutoConfiguration.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/Properties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/QianfanAutoConfiguration.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/QianfanChatModelProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/QianfanEmbeddingModelProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/QianfanLanguageModelProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/java/dev/langchain4j/community/qianfan/spring/QianfanProperties.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/test/java/dev/langchain4j/community/qianfan/spring/QianfanAutoConfigurationIT.java
  spring-boot-starters/langchain4j-community-qianfan-spring-boot-starter/src/test/java/dev/langchain4j/community/qianfan/spring/TestChatModelListenerAutoConfiguration.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/main/java/dev/langchain4j/community/xinference/spring/XinferenceAutoConfiguration.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/main/java/dev/langchain4j/community/xinference/spring/XinferenceChatModelProperties.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/main/java/dev/langchain4j/community/xinference/spring/XinferenceEmbeddingModelProperties.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/main/java/dev/langchain4j/community/xinference/spring/XinferenceImageModelProperties.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/main/java/dev/langchain4j/community/xinference/spring/XinferenceLanguageModelProperties.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/main/java/dev/langchain4j/community/xinference/spring/XinferenceProxyProperties.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/main/java/dev/langchain4j/community/xinference/spring/XinferenceScoringModelProperties.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/main/java/dev/langchain4j/community/xinference/spring/XinferenceStreamingChatModelProperties.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/main/java/dev/langchain4j/community/xinference/spring/XinferenceStreamingLanguageModelProperties.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/test/java/dev/langchain4j/community/xinference/spring/TestChatModelListenerAutoConfiguration.java
  spring-boot-starters/langchain4j-community-xinference-spring-boot-starter/src/test/java/dev/langchain4j/community/xinference/spring/XinferenceAutoConfigurationIT.java
Labels: enhancement, P3, theme: spring boot starter
