Repository langchain4j/langchain4j-community, pull requests merged in 2025-04, with the labels that each got.

#121 DashScope: Add customizable isMultimodalModel parameter to QwenStreamingChatModel builder
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenStreamingChatModel.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/AutoConfig.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/ChatModelProperties.java
Labels: enhancement, P3, theme: model

#114 Support Metadata filtering with Neo4J
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStore.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jFilterMapper.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreRemovalIT.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreTest.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jFilterMapperTest.java
Labels: enhancement, P3, theme: embedding store

#126 issue-125_neo4j-fix-constraint-creation
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStore.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreBaseTest.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreSchemaCreationTest.java
Labels: bug, P3, theme: embedding store

#115 Support passing few-shot examples to Neo4j retriever
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jContentRetriever.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jException.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jGraph.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jText2CypherRetriever.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4JText2CypherRetrieverIT.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4JText2CypherRetrieverTest.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jText2CypherRetrieverBaseTest.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/rag/content/retriever/neo4j/Neo4JText2CypherRetrieverIT.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/resources/streamer_dataset.cypher
Labels: enhancement, P3, theme: embedding store

#128 DashScope: Optimize ITs, and try to make all of them happy
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenAiServicesIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenChatModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenStreamingAiServiceIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenStreamingChatModelIT.java
Labels: enhancement, P3, theme: model

#143 feat: ChatGLM adopt http client
  models/langchain4j-community-chatglm/pom.xml
  models/langchain4j-community-chatglm/src/main/java/dev/langchain4j/community/model/chatglm/ChatGlmApi.java
  models/langchain4j-community-chatglm/src/main/java/dev/langchain4j/community/model/chatglm/ChatGlmClient.java
  models/langchain4j-community-chatglm/src/main/java/dev/langchain4j/community/model/chatglm/ChatGlmRequestLoggingInterceptor.java
  models/langchain4j-community-chatglm/src/main/java/dev/langchain4j/community/model/chatglm/ChatGlmResponseLoggingInterceptor.java
Labels: enhancement, P3, theme: model

#144 feat: SearXNG adopt http client
  web-search-engines/langchain4j-community-web-search-engine-searxng/pom.xml
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGApi.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGClient.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGRequestLoggingInterceptor.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/SearXNGResponseLoggingInterceptor.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/main/java/dev/langchain4j/community/web/search/searxng/Utils.java
  web-search-engines/langchain4j-community-web-search-engine-searxng/src/test/java/dev/langchain4j/community/web/search/searxng/UtilTest.java
Labels: enhancement, P3, theme: web search engine

#119 Neo4jGraph features
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jGraph.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jGraphSchemaUtils.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4JText2CypherRetrieverTest.java
Labels: enhancement, P3, theme: embedding store

#151 [DRAFT] Fix Neo4jEmbedding ensureStoreIsEmpty test
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreBaseTest.java
Labels: bug, P3, theme: embedding store

#152 tests(alloydb): add retry to embedding store init
  embedding-stores/langchain4j-community-alloydb-pg/src/test/java/dev/langchain4j/community/store/embedding/alloydb/AlloyDBEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-alloydb-pg/src/test/java/dev/langchain4j/community/store/embedding/alloydb/AlloyDBEmbeddingStoreRemovalIT.java
Labels: P3, theme: embedding store

#154 DashScope: Support the 'dimension' parameter in QwenEmbeddingModel, and more.
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatRequestParameters.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatResponseMetadata.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenEmbeddingModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenHelper.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenLanguageModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenModelName.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenStreamingChatModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenStreamingLanguageModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenStreamingResponseBuilder.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenTokenCountEstimator.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/WanxImageModel.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenChatModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenEmbeddingModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenStreamingChatModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenTestHelper.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/AutoConfig.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/ChatModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/main/java/dev/langchain4j/community/dashscope/spring/EmbeddingModelProperties.java
  spring-boot-starters/langchain4j-community-dashscope-spring-boot-starter/src/test/java/dev/langchain4j/community/dashscope/spring/AutoConfigIT.java
Labels: enhancement, P3, theme: model

#153 Introduce new `GraphTransformer` interface
  langchain4j-community-bom/pom.xml
  langchain4j-community-core/pom.xml
  langchain4j-community-core/src/main/java/dev/langchain4j/community/data/document/graph/GraphDocument.java
  langchain4j-community-core/src/main/java/dev/langchain4j/community/data/document/graph/GraphEdge.java
  langchain4j-community-core/src/main/java/dev/langchain4j/community/data/document/graph/GraphNode.java
  langchain4j-community-core/src/main/java/dev/langchain4j/community/data/document/transformer/graph/GraphTransformer.java
  langchain4j-community-core/src/test/java/dev/langchain4j/community/data/document/graph/GraphDocumentTest.java
  langchain4j-community-core/src/test/java/dev/langchain4j/community/data/document/graph/GraphEdgeTest.java
  langchain4j-community-core/src/test/java/dev/langchain4j/community/data/document/graph/GraphNodeTest.java
  langchain4j-community-core/src/test/java/dev/langchain4j/community/data/document/transformer/graph/GraphTransformerTest.java
  pom.xml
Labels: enhancement, P3

#157 feat: Zhipu AI adopt http client
  models/langchain4j-community-zhipu-ai/pom.xml
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/AuthorizationUtils.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/DefaultZhipuAiHelper.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/RequestLoggingInterceptor.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ResponseLoggingInterceptor.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiApi.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiClient.java
Labels: P3, theme: model

#120 Neo4j retriever features
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jText2CypherRetriever.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jText2CypherRetrieverIT.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jText2CypherRetrieverTest.java
Labels: enhancement, P3, theme: embedding store

#129 Issue 111 cypher dsl
  content-retrievers/langchain4j-community-neo4j-retriever/pom.xml
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jText2CypherRetriever.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/main/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jUtils.java
  content-retrievers/langchain4j-community-neo4j-retriever/src/test/java/dev/langchain4j/community/rag/content/retriever/neo4j/Neo4jText2CypherRetrieverTest.java
  embedding-stores/langchain4j-community-neo4j/pom.xml
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStore.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingUtils.java
  embedding-stores/langchain4j-community-neo4j/src/main/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jFilterMapper.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-neo4j/src/test/java/dev/langchain4j/community/store/embedding/neo4j/Neo4jFilterMapperTest.java
Labels: enhancement, P3, theme: embedding store

#124 Google Cloud SQL: add embedding store and document loader integration
  embedding-stores/langchain4j-community-cloud-sql-pg/README.md
  embedding-stores/langchain4j-community-cloud-sql-pg/pom.xml
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/data/document/loader/cloudsql/PostgresLoader.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/EmbeddingStoreConfig.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/MetadataColumn.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/PostgresEmbeddingStore.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/PostgresEngine.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/filter/PostgresFilterMapper.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/index/BaseIndex.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/index/DistanceStrategy.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/index/HNSWIndex.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/index/IVFFlatIndex.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/index/query/HNSWQueryOptions.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/index/query/IVFFlatQueryOptions.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/main/java/dev/langchain4j/community/store/embedding/cloudsql/index/query/QueryOptions.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/test/java/dev/langchain4j/community/data/document/loader/cloudsql/PostgresLoaderIT.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/test/java/dev/langchain4j/community/data/document/loader/cloudsql/PostgresLoaderTest.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/test/java/dev/langchain4j/community/store/embedding/cloudsql/PostgresEmbeddingStoreConfigIT.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/test/java/dev/langchain4j/community/store/embedding/cloudsql/PostgresEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/test/java/dev/langchain4j/community/store/embedding/cloudsql/PostgresEmbeddingStoreRemovalIT.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/test/java/dev/langchain4j/community/store/embedding/cloudsql/PostgresEngineIT.java
  embedding-stores/langchain4j-community-cloud-sql-pg/src/test/java/dev/langchain4j/community/store/embedding/cloudsql/PostgresTestUtils.java
  langchain4j-community-bom/pom.xml
  pom.xml
Labels: enhancement, P3, theme: embedding store

#162 ZhipuAi: Fix json parsing in `ErrorResponse` and add more common tests
  models/langchain4j-community-zhipu-ai/pom.xml
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/ZhipuAiClient.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/shared/ErrorResponse.java
  models/langchain4j-community-zhipu-ai/src/main/java/dev/langchain4j/community/model/zhipu/shared/SensitiveFilter.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/ZhipuAiChatModelIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/ZhipuAiEmbeddingModelIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/ZhipuAiImageModelIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/ZhipuAiStreamingChatModelIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/common/ZhipuAiAiServicesIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/common/ZhipuAiAiServicesWithToolsIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/common/ZhipuAiChatModelListenerIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/common/ZhipuAiStreamingAiServicesIT.java
  models/langchain4j-community-zhipu-ai/src/test/java/dev/langchain4j/community/model/zhipu/common/ZhipuAiStreamingChatModelListenerIT.java
Labels: enhancement, P3, theme: model

#171 redis: RedisChatMemoryStore ttl & prefix support
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/memory/chat/redis/RedisChatMemoryStore.java
  embedding-stores/langchain4j-community-redis/src/test/java/dev/langchain4j/community/store/memory/chat/redis/RedisChatMemoryStoreIT.java
Labels: enhancement, P3, theme: memory store
