Repository langchain4j/langchain4j-community, pull requests merged in 2025-01, with the labels that each got.

#45 DuckDB: Improve SQL management to avoid injection (#44)
  embedding-stores/langchain4j-community-duckdb/src/main/java/dev/langchain4j/community/store/embedding/duckdb/DuckDBEmbeddingStore.java
Labels: bug, P2, theme: embedding store

#41 ClickHouse: Add Spring Boot starter
  embedding-stores/langchain4j-community-clickhouse/src/main/java/dev/langchain4j/community/store/embedding/clickhouse/ClickHouseSettings.java
  langchain4j-community-bom/pom.xml
  spring-boot-starters/langchain4j-community-clickhouse-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-clickhouse-spring-boot-starter/src/main/java/dev/langchain4j/community/clickhouse/spring/ClickHouseEmbeddingStoreAutoConfiguration.java
  spring-boot-starters/langchain4j-community-clickhouse-spring-boot-starter/src/main/java/dev/langchain4j/community/clickhouse/spring/ClickHouseEmbeddingStoreProperties.java
  spring-boot-starters/langchain4j-community-clickhouse-spring-boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring-boot-starters/langchain4j-community-clickhouse-spring-boot-starter/src/test/java/dev/langchain4j/community/clickhouse/spring/ClickHouseEmbeddingStoreAutoConfigurationIT.java
  spring-boot-starters/pom.xml
Labels: enhancement, P3, theme: spring boot starter

#50 Vearch: Add `replicaNum` and `partitionNum` configurable parameters
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/VearchConfig.java
  embedding-stores/langchain4j-community-vearch/src/main/java/dev/langchain4j/community/store/embedding/vearch/VearchEmbeddingStore.java
Labels: enhancement, P3, theme: embedding store

#51 DashScope: Support deep customization of wanx model request parameters
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/WanxHelper.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/WanxImageModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/WanxImageSize.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/WanxImageStyle.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/WanxImageModelIT.java
Labels: enhancement, P3, theme: model

#53 [FEATURE] Add Lucene full-text content retriever
  content-retrievers/langchain4j-community-lucene/README.md
  content-retrievers/langchain4j-community-lucene/pom.xml
  content-retrievers/langchain4j-community-lucene/src/main/java/dev/langchain4j/rag/content/retriever/lucene/DirectoryFactory.java
  content-retrievers/langchain4j-community-lucene/src/main/java/dev/langchain4j/rag/content/retriever/lucene/LuceneContentRetriever.java
  content-retrievers/langchain4j-community-lucene/src/main/java/dev/langchain4j/rag/content/retriever/lucene/LuceneIndexer.java
  content-retrievers/langchain4j-community-lucene/src/test/java/test/dev/langchain4j/rag/content/retriever/FullTextSearchTest.java
  langchain4j-community-bom/pom.xml
  pom.xml
Labels: enhancement, P2, P3, theme: embedding store

#55 DashScope: Support customization for all qwen models
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenChatModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenEmbeddingModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenHelper.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenLanguageModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenStreamingChatModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenStreamingLanguageModel.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenStreamingResponseBuilder.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/QwenTokenizer.java
  models/langchain4j-community-dashscope/src/main/java/dev/langchain4j/community/model/dashscope/WanxHelper.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenChatModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenEmbeddingModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenLanguageModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenStreamingChatModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenStreamingLanguageModelIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/QwenTokenizerIT.java
  models/langchain4j-community-dashscope/src/test/java/dev/langchain4j/community/model/dashscope/WanxImageModelIT.java
Labels: enhancement, P3, theme: model

#58 Migrate redis and spring-boot-starter
  embedding-stores/langchain4j-community-redis/pom.xml
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/embedding/redis/MetricType.java
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/embedding/redis/RedisEmbeddingStore.java
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/embedding/redis/RedisJsonUtils.java
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/embedding/redis/RedisMetadataFilterMapper.java
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/embedding/redis/RedisRequestFailedException.java
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/embedding/redis/RedisSchema.java
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/ememory/chat/redis/RedisChatMemoryStore.java
  embedding-stores/langchain4j-community-redis/src/main/java/dev/langchain4j/community/store/ememory/chat/redis/RedisChatMemoryStoreException.java
  embedding-stores/langchain4j-community-redis/src/test/java/dev/langchain4j/community/store/embedding/redis/RedisEmbeddingStoreIT.java
  embedding-stores/langchain4j-community-redis/src/test/java/dev/langchain4j/community/store/embedding/redis/RedisEmbeddingStoreRemovalIT.java
  embedding-stores/langchain4j-community-redis/src/test/java/dev/langchain4j/community/store/embedding/redis/RedisMetadataFilterMapperTest.java
  embedding-stores/langchain4j-community-redis/src/test/java/dev/langchain4j/community/store/memory/chat/redis/RedisChatMemoryStoreIT.java
  langchain4j-community-bom/pom.xml
  pom.xml
  spring-boot-starters/langchain4j-community-redis-spring-boot-starter/pom.xml
  spring-boot-starters/langchain4j-community-redis-spring-boot-starter/src/main/java/dev/langchain4j/community/store/embedding/redis/spring/RedisEmbeddingStoreAutoConfiguration.java
  spring-boot-starters/langchain4j-community-redis-spring-boot-starter/src/main/java/dev/langchain4j/community/store/embedding/redis/spring/RedisEmbeddingStoreProperties.java
  spring-boot-starters/langchain4j-community-redis-spring-boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring-boot-starters/langchain4j-community-redis-spring-boot-starter/src/test/java/dev/langchain4j/community/store/embedding/redis/spring/RedisEmbeddingStoreAutoConfigurationIT.java
  spring-boot-starters/pom.xml
Labels: enhancement, P3, theme: embedding store, theme: spring boot starter

#57 Lucene embedding store
  content-retrievers/langchain4j-community-lucene/src/main/java/dev/langchain4j/rag/content/retriever/lucene/DirectoryFactory.java
  content-retrievers/langchain4j-community-lucene/src/main/java/dev/langchain4j/rag/content/retriever/lucene/LuceneContentRetriever.java
  content-retrievers/langchain4j-community-lucene/src/main/java/dev/langchain4j/rag/content/retriever/lucene/LuceneEmbeddingStore.java
  content-retrievers/langchain4j-community-lucene/src/main/java/dev/langchain4j/rag/content/retriever/lucene/LuceneIndexer.java
  content-retrievers/langchain4j-community-lucene/src/test/java/test/dev/langchain4j/rag/content/retriever/FullTextSearchIT.java
  content-retrievers/langchain4j-community-lucene/src/test/java/test/dev/langchain4j/rag/content/retriever/IndexerTest.java
Labels: enhancement, P3, theme: embedding store
